
<launch>
   
    <node pkg="tf" type="static_transform_publisher" name="base_to_laser"
      args="0 0 0 1.57070963 0.0 0.0 /base_link /laser 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_to_imu"
      args="0 0 0  0.0 0.0 0.0 /base_link /imu 100" />

  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="PhidgetsImuNodelet" 
    args="load phidgets_imu/PhidgetsImuNodelet imu_manager" 
    output="screen">

    # supported data rates: 4 8 16 24 32 40 ... 1000 (in ms)
    <param name="period" value="32"/>

    # compass correction params (see http://www.phidgets.com/docs/1044_User_Guide)
         <param name="cc_mag_field" value="0.47180"/>
         <param name="cc_offset0" value="0.02748"/>
         <param name="cc_offset1" value="0.23093"/>
         <param name="cc_offset2" value="-0.02173"/>
         <param name="cc_gain0" value="2.15856"/>
         <param name="cc_gain1" value="2.00933"/>
         <param name="cc_gain2" value="2.19067"/>
         <param name="cc_t0" value="0.06483"/>
         <param name="cc_t1" value="-0.10713"/>
         <param name="cc_t2" value="-0.05131 "/>
         <param name="cc_t3" value="-0.15245"/>
         <param name="cc_t4" value="-0.08008"/>
         <param name="cc_t5" value="-0.13967"/>
  </node>

  #### IMU Orientation Filter ###############################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen">

    <param name="use_mag" value="true"/>
    <param name="world_frame" value="nwu"/>


  </node>




  <node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
  <param name="serial_port"         type="string" value="/dev/ttyUSB0"/>  
  <param name="serial_baudrate"     type="int"    value="115200"/>
  <param name="frame_id"            type="string" value="laser"/>
  <param name="inverted"            type="bool"   value="false"/>
  <param name="angle_compensate"    type="bool"   value="true"/>
  </node>


<node pkg="robot_pose_ekf" type="robot_pose_ekf" name="robot_pose_ekf">
  <param name="output_frame" value="odom_combined"/>
  <param name="base_footprint_frame" value="base_footprint"/>
  <param name="freq" value="30.0"/>
  <param name="sensor_timeout" value="1.0"/>  
  <param name="odom_used" value="false"/>
  <param name="imu_used" value="true"/>
  <param name="vo_used" value="false"/>

  <remap from="imu_data" to="imu/data" />
</node>


</launch>
